@model TemplatedHelperMethods.Models.Customer

@{
    Layout = null;
    ViewBag.Title = "CreatePerson";
    Html.EnableClientValidation(false);
}

<style>
    body {
        padding: 2em;
    }
</style>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

@*<h2>Create customer</h2>

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label class="col-md-1">Customer Id</label>
            @Html.EditorFor(x => x.CustomerId)
        </div>
        <div class="form-group">
            <label class="col-md-1">First Name</label>
            @Html.EditorFor(x => x.FirstName)
        </div>
        <div class="form-group">
            <label class="col-md-1">Last Name</label>
            @Html.EditorFor(x => x.LastName)
        </div>
        <div class="form-group">
            <label class="col-md-1">Birthday</label>
            @Html.EditorFor(x => x.Birthday)
        </div>
        <input type="submit" class="btn btn-primary" value="Submit" />
    }*@

@*<h2>Create @Html.LabelForModel()</h2>

    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.EditorForModel()
        </div>

        <input type="submit" class="btn btn-primary" value="Submit" />
    }*@

<h2>Create @Html.LabelForModel()</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.EditorForModel()

        @Html.EditorFor(x => x.Address)
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" />
}